<div class="banner"></div>
<div class="container mt-3">

  <div class="player-edit-form mt-5">
    <form action="/players/{{player.id}}/edit" method="post" >

      <div class="form-group row">
        <label for="playerName" class="col-sm-2 col-form-label">name: </label>
        <div class="col-sm-6">
          <input type="" id="playerName" class="form-control mb-3" value="{{player.name}}"></input>
        </div>
      </div>        

      <div class="form-group row">
        <label for="characterId" class="col-sm-2 col-form-label">character: </label>
        <div class="col-sm-6">
          <select class="custom-select"  id="characterId">
          {{#each characters}}
            <option value="{{this.id}}" >{{this.name}}</option>
            {{/each}}
          </select>
        </div>    
      </div>  
      
      <div class="submit-btn">
        <a href="/players">回上一頁</a>
        <button type="submit" class=" mt-3">submit</button>
      </div>
      
    </form>
  </div>  
  
</div>
