<div class="banner"></div>
<div class="container mt-5">
  <h3>隊伍玩家:</h3>
  <div class="players-wrapper">
    {{#each players}}
      <div class="card">
        <img src="{{this.avatar}}" alt="">
        <div class="card-text">
          <h3>{{this.name}}</h3>
          <p>{{this.character}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>