<div class="banner"></div>
<div class="container mt-5">
  <h3 class="mb-3">隊伍玩家:</h3>
  <div class="players-wrapper">
    {{#each players}}
      <div class="player-card">
        <img src= {{this.Character.avatar}} alt="" class="card-img">
        <div class="card-text">
          <h3 class="card-title">{{this.name}}</h3>
          <p class="card-description">{{this.Character.name}}</p>
        </div>
        <a href="/players/{{this.id}}/edit" class="edit-link">edit</a>
      </div>
  {{/each}}  
    <a href="">add new player</a>
  </div>
</div>