<div class="banner"></div>
<div class="container">
  <div class="row">
    <div class="col-xl-8 col-md-10 col-12 mx-auto">
      <div class="pageList">
        <a class="otherPage paging mr-3" href="/">抽新關主</a>
        <a class="thisPage paging mr-3">歷史遊戲紀錄</a>
      </div>
      records !
    </div>
  </div>
</div>