<div class="banner"></div>
<div class="container">
  <div class="row">
    <div class="col-xl-8 col-md-10 col-12 mx-auto">
      {{!-- <div class="pageList">
        <a class="otherPage paging mr-3" href="/">抽新關主</a>
        <a class="thisPage paging mr-3">歷史遊戲紀錄</a>
      </div> --}}
        <table class="table mt-5">
          <thead class="thead-dark">
            <tr>
              <th scope="col" >日期</th>
              <th scope="col" >關卡</th>
              <th scope="col" class="text-center">關主</th>
              {{!-- <th scope="col">參與者</th> --}}
              <th scope="col" class="text-center">修改紀錄</th>
              {{!-- <th scope="col" class="text-center">刪除紀錄</th> --}}
            </tr>
          </thead>
          <tbody>
          {{#each recordList}}
            <tr>
              <td>{{date this.date}}</td>
              <td>{{this.scenarioName}}</td>
              <td class="text-center">{{this.hostName}}</td>
              <td class="text-center"><a href="/records/edit/{{this.id}}"><i class="fas fa-pen bin"></i></a></td>
              
            </tr>
          {{/each}}
          </tbody>
        </table>
    </div>
  </div>
</div>