/* 載入字型 */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&display=swap&subset=chinese-traditional");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #f6f7f8;
  font-family: "Noto Sans TC", sans-serif;
  /* 設定字型 */
  font-size: 1rem;
  line-height: 1.4;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  line-height: 0.9;
}

p {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  /* 拿掉前方圈圈 */
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  /* 拿掉底線 */
}
a:hover {
  color: #fca063;
  text-decoration: none;
}
/********* 電腦版樣式 *********/
@media screen and (min-width: 768px) {
  .action {
    font-size: 1.2rem;
    padding: 0.75rem 2rem;
  }
}
/* ******** header *********** */
header {
  width: 100%;
  height: 60px;
  top: 0;
  text-align: center;
  background: #ffffff;
  position: fixed;
  z-index: 999;
}
.nav-brand {
  color: #424141;
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 60px;
}
.navbar-toggle {
  visibility: hidden;
  position: absolute;
}
.navbar-toggle:checked ~ .navb {
 transform: scale(1, 1);
}
.navb {
  position: absolute;
  top: 100%;
  width: 100%;
  background: #ffffff;
  opacity: 0.8;
  transition: transform 0.3s ease-out;
  transform: scale(1, 0);
  transform-origin: top;
}
.nav-item {
  margin: 1.4rem 0;
  opacity: 0;
}
.navbar-toggle:checked ~ .navb .nav-item {
  transition: opacity .2s ease-out 0.15s;
  opacity: 1;
}
.nav-link {
  color: #424141;
}
.navbar-toggle-label {
  position: absolute;
  top:0;
  bottom: 0;
  right: 7.5%;
  display: flex;
  align-items: center;
}
.hamburger,
.hamburger::before,
.hamburger::after {
  width: 30px;
  height: 3px;
  background: #267b98;
}
.hamburger::before,
.hamburger::after {
  position: absolute;
  left: 0;
  content: "";
} 
.hamburger {
  position: relative;
}
.hamburger::before {
  bottom: 8px;
}
.hamburger::after {
  top: 8px;
}

@media screen and (min-width: 768px){
  /* header */
  .navbar-toggle-label {
    display: none;
  }
  .nav-item {
    margin: 0;
    opacity: 1;
  }
  /* grid */
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  .nav-brand {
    grid-column: 2 / 3;
  }
  .navb {
    all: unset;
    grid-column: 3 / 4;
  } 
  .nav-list {
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    align-items:center;
    justify-content: end;
    grid-column-gap: 2rem;
  }
}

/* ********* body ********** */
.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 360px;
  background: #dddddd center center url("https://assets.dicebreaker.com/gloomhaven-board-game-box-artwork.jpg/BROK/resize/1920x1920%3E/format/jpg/quality/80/gloomhaven-board-game-box-artwork.jpg");
  background-size: cover;
  filter: blur(3px);
}

.participant {
  border:black solid 1px;
  padding: 10px 5px;
}

.disappear {
  display: none;
}

.showHostDiv {
background-color: chocolate;
padding: 4px;
color: #dddddd;
}

.signin-box {
 position: relative;
 top: 80px;
}

.bin {
  color: #999999;
}
.bin:hover {
  color: #ff6600;
}

/* player */

.players-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5rem;
}
.card {
  position:relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #a9a9a9a9;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
}
.card-img {
 width: 100%;
 height: 300px;
 display: block;
 object-fit: cover;
}
.card-text {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.card:hover .card-text {
  opacity: 1;
}
.card:hover .card-img {
  opacity: 0.4;
}
.card-title {
  font-size: 1.5rem;
  margin-bottom: 0.2em;
}
.card-description {
  font-size: 1rem;
}